.demo{
    border: 10px solid blue;
    background-image: url("./anu.jpg");
    margin: 0px;
    padding: 10px;
    font-style: italic;
    color: rgba(245, 65, 10, 0.959);
}
.head{
    border: 5px solid green;
    background: hotpink;
    padding-left: 500px;
}
.navbar{
   border: 5px solid brown;
    padding: 10px;
    background: chartreuse;
}
.ranga{
    border: 5px solid green;
    background-color: blueviolet;

}
.form{
    border: 5px solid gray;
    background-color: hotpink;
    font-size: x-large;
    color: indigo;
    font-style: italic;
}
button{
    background-color: lawngreen;
    color:yellow;
}